ion-menu-button {
  color: var(--ion-color-primary);
}
.contents{
  margin: 5px;
  color: #fff;
  font-weight: 600;
}
.title{
  margin: 5px;
  color: #334D6E;
}
.student-img{
  height: 300px;
  width: 100%;
  border: 2px solid green;
  border-radius: 20px;
}